
body {
    background-image: url(./images/badgerbackground.png);
    background-size: contain;
    background-repeat: repeat-y;
    font-family: monospace;
    
}

a {
    text-decoration: none;
  }
  
  nav {
      font-family: monospace;
      float:right;
      margin-top: 3.1%;
      margin-right: 1em;
      border: black solid 1px;
  }
  
  ul {
    background: rgb(255,123,8);
      list-style: none;
      margin: 0;
      padding-left: 0;
  }
  
  li {
      color: #fff;
      background: rgb(255,123,8);
      display: block;
      float: left;
      padding: 1rem;
      position: relative;
      text-decoration: none;
      transition-duration: 0.35s;
  }
    
  li a {
    color: #fff;
  }
  
  li:hover {
      background: rgb(255,123,45);
      cursor: pointer;
  }
  
  ul li ul {
        background: rgb(255,123,45);
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none;
        border: black solid 1px;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 60%;
  }

section {
    margin: 0.3em 0;
    text-align: center;
    /*border: blue solid 2px;*/
    width:100%
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    /*border: magenta solid 2px;*/
}

.textimage {
    width: 48%;
    min-width: 310px;
    margin-right: 1rem;
    border: black solid 2px;
}

.textimageSmall {
    width: 40%;
    min-width: 250px;
    margin-right: 1rem;
    border: black solid 2px;
}


#thirdspan {
    /*border: white solid 2px;*/
    width: 32%;
    min-width: 200px;
    display: inline-block;
    margin: 0.6em auto;
    font-size: 0.8rem;
}



#halfspan {
    /*border: white solid 2px;*/
    width: 49%;
    min-width: 250px;
    display: inline-block;
    margin: 0.6em auto;
    font-size:0.8rem;
}

h2{
    margin: 1em 2em;
    color: white;
}

.container h1 {
    font-size: 1.8rem;
}

.pagetitle {
    font-size: 2.5em;
    font-weight: bold;
    margin: 1rem 0 1.5rem 0;
}
.title {
    margin-bottom: 3rem;
}


.container p {
    font-size: 1rem;
    margin: 1em 2em;
}

header {
    color: black;
    align-items: center;
    align-content: center;
    /*border:red solid 2px;*/
}


.header .img{
    margin-top: 3%;
    margin-bottom: 0;
    margin-left: 44%;
    width: 12%;
}


.inline {
    display: inline;
}

.section-grey {
    color: white;
}
.section-black {
    color: black;
}

footer {
    margin: 4em 0 0 0;
    color: lightgray;
    text-align: center;
    /*border: green solid 2px;*/
    position: fixed relative;
    bottom: 0;
}



